* {
    margin: 0;
    padding: 0;
}

.obligatory {
    background-color: rgb(164, 247, 40);
}

.input {
    width: 250px;
    border: 1px solid black;
    padding: 5px;
}



.left {
    float: left;
    width: 150px;
}

form div {
    margin-top: 10px;
}

.button {
    margin-left: 150px;
}

span {
    color: red;
    margin-left: 20px;
}